* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}

aside {
  width: 200px;
  border: 3px;
  border-color: rgba(0, 173, 238, 0.4);
  position: fixed;
 

}

img {
height: 120px;
margin-left: auto;
margin-right: auto;
display: block;
}

main {
width: 200px;
margin-left: 20px;
margin-right: 20px;
}

li {
text-transform: uppercase;
text-align: center;
display: inline-block;
border-color: rgba(0, 173, 238, 0.4);
margin-left: 5px;
padding-left: 5px;
border-left: 1px solid;
list-style-type: none;


}

a {
font-weight: bold;
color: rgb(0, 173, 238);


}

header {

height: 100px;
margin-bottom: 8px;


}

div {
  display:inline-block
  width: 33%;
  border-color: rgba(170, 239, 135, 0.8);

}

h2 {
color: #8CC36F;

}

i {
  display: inline-block;
  margin: 25px 10px;

}